/* Сброс стилей */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
}

body {
    margin: 0;
    padding: 0;
}

main,
footer {
    margin-top: 40px;
}

header,
footer,
main,
aside,
div {
    position: relative;
}

h3 {
    margin: 0;
}

header,
footer {
    padding: 15px 0;
}

/* Основной контенер */
.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

/* Wrapper */
.row-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-flex {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding: 15px;
}

.main, 
.aside {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
}

.main {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 60%;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
    max-width: 60%;
}

.aside {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 20%;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
    background-color: #f0f0f0;
}

@media (max-width: 1199px) {
    .aside--left {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 25%;
            -ms-flex: 0 0 25%;
                flex: 0 0 25%;
        max-width: 25%;
    }

    .main {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 75%;
            -ms-flex: 0 0 75%;
                flex: 0 0 75%;
        max-width: 75%;
    }

    .aside--right {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        max-width: 100%;
        margin-top: 40px;
    }
}

@media (max-width: 991px) {
    .main {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        max-width: 100%;
        margin-top: 40px;
    }

    .aside--left {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        max-width: 100%;
    }
}